.background {
  background: radial-gradient(125% 125% at 50% 10%, #fff 40%, #63e 100%);
}

  .para{
    color: #de935e;
    justify-content: center;
    display: flex;
    margin-top: 2%;
  }

.two{

    margin-top: 2.8%;
    flex-direction: column;
    width:500px;
    justify-content: center;
    display: flex;
}
.eart{
    margin-top: 10.6%;
    margin-bottom: none;
    width: 70%;
}