
#blogg{
  color: whitesmoke;
  font-size: 50px;
  font-weight: bold;
  margin-top: 10%;
  margin-bottom: 2%;
  padding-bottom: 0%;
}
#adobe{
  margin-bottom: 0%;
  font: weight 300;
  font-size: 17px;
  width: 850px;
  color: #888808;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.content{
  text-align:left
  
}
.card1, .card2, .card3, .card4 {
  box-shadow: none !important;
}

.all{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin:0%
}


.card1 {
  text-align: left;
  width: 700px;
  height: 700px;
  transition: transform 0.3s ease; /* Add transition for smooth effect */

}
.card1:hover {
  transform: scale(1.1); /* Zoom in by 10% on hover */
}
.card2 {
  margin-top: 7%;
  text-align: left;
  width: 700px;
  height: 650px;
  transition: transform 0.3s ease; /* Add transition for smooth effect */
}

.card2:hover {
  transform: scale(1.1); /* Zoom in by 10% on hover */
}


.card3{
  margin-top: 7%;
  margin-bottom: 7%;
  text-align: left;
  width: 700px;
  height: 925px;
  transition: transform 0.3s ease; /* Add transition for smooth effect */

}
.card3:hover {
  transform: scale(1.1); /* Zoom in by 10% on hover */
}

.card4{
  margin-top: 7%;
  margin-bottom: 7%;
  text-align: left;
  width: 700px;
  height: 650px;
  transition: transform 0.3s ease; /* Add transition for smooth effect */

}
.card4:hover {
  transform: scale(1.1); /* Zoom in by 10% on hover */
}